
 <!-- 
<app-rxjs-intro1></app-rxjs-intro1>
<admin-booking-cmp></admin-booking-cmp>
 <hr>
 <user-booking-cmp></user-booking-cmp>

 <app-read-json></app-read-json>
<hr>
<app-read-jsonasync></app-read-jsonasync> 
<app-http-calls></app-http-calls>

 <app-fork-join-demo></app-fork-join-demo>
 <app-http-calls></app-http-calls>
 <app-fork-join-demo></app-fork-join-demo>
 <err-cmp></err-cmp>
<throw-err-cmp></throw-err-cmp>
<app-subject-demos></app-subject-demos>
<admin-booking-cmp></admin-booking-cmp>
<hr>
<user-booking-cmp></user-booking-cmp>
<subject2-cmp></subject2-cmp>


<view-child-cmp></view-child-cmp>
-->
<parent-component></parent-component>
